.list {
}

.list__col {
  border: 1px solid #E3E6EC;
  height: 87px;
  min-width:

}

.list__row {
  text-align: center;
  border: 1px solid #E3E6EC;
}

.list__row:nth-child(1) {
  width: 110px;
}

.list__row:nth-child(2) {
  min-width: 300px;
  max-width: 429px;
}

.list__row:nth-child(3) {
  min-width: 300px;
  max-width: 432px;
}

.list__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 137.69%;
  color: #474955;
}
